.Sliders{
  display: inline-block;
  width: 200px;
}
.MainPanel{
  display: inline-block;
  width: 700px;
}
.LayerPanel{
  display: inline-block;
  width: 200px;
}
.currentLayer{
  border: solid;
  border-color: #333333;
  border-width: 2px;
}
.normalLayer{
  border: solid;
  border-color: #e0e0e0;
  border-width: 1px;
}